<h1>Hi {{vm.user[0].firstname}}!</h1>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p>
<br>
<h3>All registered users:</h3>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Full Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in vm.allUsers">
            <td>{{ user._id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.firstname }} {{ user.lastname }}</td>
            <td><a class="btn btn-sm btn-danger text-white" ng-click="vm.deleteUser(user._id)">Delete</a></td>
        </tr>
    </tbody>
</table>

