<!DOCTYPE html>
<html lang="en" ng-app="boxapp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>my design</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-cookies.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

  <script src="js/script.js"></script>
  <script src="services/auth.service.js"></script>
  <script src="services/dialog.service.js"></script>
  <script src="services/user.service.js"></script>


</head>

<body>

  <!-- Modal för kund vagen -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Shopping</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <p>{{ emptycart }}</p>
          <table>
            <tr ng-repeat="box in cart">
              <td>{{box.quantity}} x {{ box.category }}</td>
              <td>{{getProductCost(box)}} :-</td>
              <td><button class="btn btn-link remove-item " ng-click="removeItem(box)"><i
                    class="fas fa-trash-alt"></i></button></td>
            </tr>
          </table>
          <h4 class="mt-2">Total: {{ getTotal() }} SEK</h4>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
          <button type="button" class="btn btn-primary">Checkout</button>
        </div>
      </div>
    </div>
  </div>



  <header>
    <div class="h11">
      <div class="container">
        <div class="row">
          <div class="col-md-5" id="h1">

            <ul>
              <li><i class="fab fa-facebook-f"></i></li>
              <li><i class="fab fa-twitter"></i></li>
              <li><i class="fab fa-behance"></i></li>
              <li><i class="fab fa-pinterest"></i></li>
              <li><i class="fab fa-youtube"></i></li>

            </ul>



          </div>
          <div class="col-md-2" id="ha" style="margin-left: -333px;margin-top: 5px;">
            <ul>
              <li>faq</li>
              <li>terms</li>
            </ul>

          </div>

          <div class=" col-md-5" id="haa">
            <ul>
              <li><i class="far fa-envelope"></i></li>
              <li>info@webmail.com</li>
              <li>

                <a href="login.html" style="font-size: 15px; padding-left: 37px; cursor: pointer;">Login</a>


              </li>
              <li>
                <a href="" data-toggle="modal" data-target="#exampleModal"> <i class="fas fa-shopping-cart"
                    style="font-size: 19px;"></i><span class="badge badge-pill" ng-class="badgeColor"
                    style="font-size:12px; font-weight:normal; position: absolute; top:-6px; right: 2px;">{{ getQuantity() }}</span>
                </a>
              </li>























            </ul>

          </div>
        </div>
      </div>

    </div>
    <div id="h2">
      <nav class="navbar navbar-expand-lg navbar-light" style="margin-left: 167px;">
        <div class="row">
          <div class="col-md-1">
            <img src="./image/icon.png" class="iconlogotype" style="width: 30px;" />
          </div>
          <div class="col-md-10 logotype">
            <ul>
              <li style="font-size: 25px; font-weight: bolder; color: black;">pohat</li>
              <li><i class="fas fa-circle" style="font-size: 5px; color: #fa7c52;"></i></li>
            </ul>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="lang">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                EN
              </a>
            </li>

            <li class="nav-item" id="phone">
              +90878 87 878 7
            </li>
          </ul>




        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" class="nav1">
          <ul class="navbar-nav mr-auto" style="font-size: 11px;margin-left: 8px;margin-top: -13px;">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Servies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>




          </ul>

        </div>
        <div>
          <P id="get">GETAQUOTE</P>
        </div>
      </nav>
    </div>

  </header>

  <div id="h3">
    <div class="inner">
      <h4> DIGITAL MARKETING</h4>
      <h1>Product Store</h1>
      <H6>Home / shop</H6>

    </div>
  </div>
  <div class="container del1">
    <div class="row justify-content-md-center">
      <div class="col col-lg-3">
        <div class="row">
          <div class="col-md-2 icon ">

          </div>

          <div class="col-md-10">
            <strong class="p1">Free Shipping</strong>
            <p class="p2">orders over $100</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-md-2  icon"><i class="fa fa-undo-alt"></i>
          </div>
          <div class="col-md-10">
            <strong class="p1">Free Return</strong>
            <p class="p2">In 30 Days</p>
          </div>
        </div>
      </div>
      <div class="col col-lg-3">
        <div class="row">
          <div class="col-md-2 icon">

            <i class="fas fa-lock"></i>
          </div>
          <div class="col-md-10">
            <strong class="p1">100% Secure</strong>
            <p class="p2">Shipping</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="row">
          <div class="col-md-2 icon ">
            <i class="fas fa-tag"></i>
          </div>
          <div class="col-md-10">
            <strong class="p1">Best Price</strong>
            <p class="p2">Granted</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container del2">
    <div class="row justify-content-md-center">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div class="row" style="margin-left: -42px;margin-top: -2px;">

              <div class="col-md-2" id="listicon">
                <a href="#!/box" style=" color: #99a5ad;">
                  <i class="fas fa-th"></i>
                </a>
              </div>


              <div class="col-md-2" id="boxicon">
                <a href="#!/list" style="color :white;">
                  <i class="fa fa-bars"></i>
                </a>
              </div>

            </div>

          </div>
          <div class="col-md-4 color" id="show">
            <div>
              Visa antal produkter
              <select style="border-radius: 25px;" ng-model="rowLimits">
                <option value="1">1</option>
                <option value="4 selected">4</option>
                <option value="6">6</option>
                <option value="10">10</option>
              </select>
            </div>
          </div>
          <div class="col-md-2">
            <div class="dropdown color " id="sortby">
              <select class="sec" ng-model="sortColumn">
                <option value="category">Kategori</option>
                <option value="price">Price</option>
                <option value="rating">rating</option>
              </select>
            </div>

          </div>
          <div class="col-md-3">
            <div class="row search">
              <div class="col-md-8 ">
                <input type="search" name="search" id="sea" ng-model="search" placeholder="search from here ..">
              </div>
              <div class="col-md-4" id="searchicon">
                <i class="fa fa-search"></i>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>






    <div ng-view>

    </div>


     <div class="container nummber">
      <ul>
        <li id="icon1"><i class="fas fa-arrow-left"></i></li>
        <li>01</li>
        <li id="r02">02</li>
        <li>...</li>
        <li>04</li>
        <li><i class="fas fa-arrow-right"></i></li>
      </ul>
    </div>

  </div>




  <div class="footer">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-1">
                  <img src="./image/icon.png" class="iconlogotype" />
                </div>
                <div class="col-md-8 logotype">
                  <ul>
                    <li style="font-size: 25px; font-weight: bolder; color: white;">pohat</li>
                    <li><i class="fas fa-circle" style="font-size: 5px; color: #fa7c52;"></i></li>
                  </ul>
                </div>
              </div>
              <p style="font-size: 12px;margin-top: 10px;">
                Lorem ipsum dolor sit amet. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse
                platea
                dictumst. Phasellus eu sem sapienssssssssssssssssssssssssss
              </p>
              <div class="footericon">
                <ul>
                  <li><i class="fab fa-facebook-f"></i></li>
                  <li id="twitter"><i class="fab fa-twitter"></i></li>
                  <li><i class="fab fa-behance"></i></li>
                  <li><i class="fab fa-youtube"></i></li>
                  <li><i class="fab fa-pinterest"></i></li>


                </ul>

              </div>
              <p id="sist">copyrightby&copy<span style="color:#fa7c52;">nilArtStudio-</span>2019</p>
            </div>
            <div class="col-md-4" class="col2">
              <div class="morelinks">
                <ul>
                  <li id="more">More Links</li>
                  <li style="font-size:4px;"><i class="fas fa-circle"></i></li>
                </ul>
              </div>
              <div class="row list paid">
                <div class="col-md-6">
                  <ul>
                    <li>paid SEO</li>
                    <br>
                    <br>


                    <li>DigitalMarketing</li>
                    <br>
                    <br>

                    <li>StaratgyPlanning</li>
                    <br>
                    <br>

                    <li>OfflineSEO</li>
                    <br>
                    <br>

                    <li>PageRankUp</li>
                    <br>
                    <br>

                    <li>UserPanel</li>

                  </ul>
                </div>
                <div class="col-md-6 server">
                  <ul>
                    <li>server</li><br><br>
                    <li>Our time</li><br><br>
                    <li>News</li><br><br>
                    <li>Shop</li><br><br>
                    <li>Contact</li><br><br>
                    <li>BookAppaintment</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h3 id="news">
                News Feeds.
              </h3>
              <div class="row">
                <div class="col-md-6">
                  <img class="newsimg" src="./image/g.png" />
                </div>
                <div class="col-md-6">
                  <h3 class="newsh3">
                    Lorem ipsum dolor sit amet eeeeeee.
                  </h3>
                  <p class="newsp">14 july 2019</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <img id="img11" src="./image/g.png" />
                </div>
                <div class="col-md-6">
                  <h3 id="hdel2">
                    Lorem ipsum dolor sit amet eeeeeee.
                  </h3>
                  <p class="newsp">14 july 2019</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 ">
                  <img id="imgdel" src="./image/g.png" />
                </div>
                <div class="col-md-6 ">
                  <h3 id="hdel3">
                    Lorem ipsum dolor sit amet eeeeeee.
                  </h3>
                  <p class="newsp">14 july 2019</p>
                </div>
              </div>
              <button type="button" class="btn btn-success" id="buttontop">
                BACK TO top
              </button>
            </div>


          </div>

        </div>
      </div>

    </div>


  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>